In [24]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [26]:
# Change Column Names of API output to not include parentheses
file = "chineseATX.csv"
restaurants_df = pd.read_csv(file)
restaurants_df = restaurants_df.rename(columns={"ID(Google)":"Google_ID", "Price_Level(Google)":"Price_Level", "Rating(Google)":"Rating"})
restaurants_df.head()

,Address,Google_ID,Latitude,Longitude,Name,Price_Level,Rating,Zip
0,"1931 E Ben White Blvd #300, Austin, TX 78741, USA",b9eb17dab1edbc2b1a046a224789b1330e44554c,30.215372,-97.744803,Asia,2.0,3.8,78741
1,"2712 Bee Caves Rd, Austin, TX 78746, USA",bdefc39e9e72060c0c3f8552220f8ea2ca60d20b,30.271814,-97.786538,Chinatown,2.0,4.1,78746
2,"212 E Oltorf St, Austin, TX 78704, USA",b75b51402eec73943491ad3847b6b1c46d7a0ad8,30.238337,-97.751720,New Mandarin,2.0,3.5,78704
3,"3601, 6605 Airport Blvd, Austin, TX 78752, Uni...",aeca550acd577ada947d15388018945bbcd9b492,30.330697,-97.715309,China Palace,2.0,3.9,78752
4,"625 W Ben White Blvd, Austin, TX 78704, USA",ec2339d24cecd5986b306474bb427557f034a055,30.225787,-97.771176,Bamboo Garden Chinese Restaurant,2.0,4.0,78704

In [29]:
# Output Cleaned CSV
restaurants_df.to_csv("cleaned"+file)

In [27]:
engine = create_engine("sqlite:///yummydata.sqlite")

In [28]:
Base = declarative_base()

In [15]:
# Create ORM Class for Zip Code Demographic Data
class ZipDemo(Base):
    
    __tablename__ = 'zip_demographics'

    Zip = Column(Integer, primary_key=True)
    Population = Column(Integer)
    Density = Column(Float)
    AverageIncome = Column(Float)
    City = Column(Text)
    State = Column(Text)
    ZipLatitude = Column(Float)
    ZipLongitude = Column(Float)
    City_State = Column(Text, ForeignKey("user_input.City_State"))
    
#     def __repr__(self):
#         return f"id={self.id}, name={self.station}"

In [16]:
class RestaurantSearch(Base):
    
    __tablename__ = 'restaurant_search'

    Address = Column(Text)
    Google_ID = Column(Text, primary_key=True)
    Latitude = Column(Float)
    Longitude = Column(Float)
    Name = Column(Text)
    Price_Level = Column(Integer)
    Rating = Column(Float)
    Zip = Column(Integer, ForeignKey("zip_demographics.Zip"))

In [17]:
class Input(Base):
    
    __tablename__ = 'user_input'

    id = Column(Integer, primary_key=True)
    City = Column(Text)
    State = Column(Text)
    Cuisine = Column(Text)
    City_State = Column(Text)

In [18]:
Base.metadata.create_all(engine)

In [19]:
# Create a Functin to Populate Tables
def populate_table(engine, table, csvfile):
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_of_data_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    data = df_of_data_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)

In [30]:
# Populate Tables
populate_table(engine, ZipDemo.__table__, 'zip_demographicchineseATX.csv')
populate_table(engine, RestaurantSearch.__table__, 'cleaned'+file)